{% extends 'account/_auth_layout.html' %}
{% block title %}Password updated | CarHub{% endblock %}
{% block auth %}
<div class="text-center">
  <div class="auth-icon success" style="margin-inline:auto">{% icon 'check' 28 %}</div>
  <h1>Password updated</h1>
  <p class="muted">Your new password is saved. We've emailed you a confirmation for your records.</p>
  {% if user.is_authenticated %}
    <a class="btn btn-dark btn-lg btn-block" href="{% url 'home' %}">Continue to CarHub</a>
  {% else %}
    <a class="btn btn-dark btn-lg btn-block" href="{% url 'account_login' %}">Sign in with your new password</a>
  {% endif %}
</div>
{% endblock %}
