{% extends 'emails/base.html' %}
{% block title %}Reset your password{% endblock %}
{% block preheader %}Someone asked to reset your CarHub password. Open this email for your one-time code.{% endblock %}
{% block heading %}Reset your password{% endblock %}
{% block intro %}{% if user.first_name %}Hi {{ user.first_name }}, {% else %}Hi there, {% endif %}we received a request to reset the password for your CarHub account. Enter this code in the open browser window to choose a new password.{% if google_only %}<br><br>You usually sign in with Google. Setting a password lets you sign in with either; both open the same account.{% endif %}{% endblock %}
{% block main %}{% include 'emails/_code.html' with expires_minutes=10 code_label='Your reset code' %}{% endblock %}
{% block note %}<strong style="color:#0f1419">Didn't ask for this?</strong> You can ignore this email; your password won't change. If you keep getting these, someone may be trying to access your account, so consider using a stronger password.{% endblock %}
